.un_produit{
    background-color: rgba(100,100,100,0.5);
    margin: 20px;
}

.param{
    display: flex;
    flex-direction: column;
}

.param a{
    margin: 5px;
}

.param a{
    background-color: rgba(120,120,120,0.5);
}

.info_produit{
    display: flex;
    align-items: center;
 
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.info_produit > *{
    width: 25%;
}

.prix{
    font-size: 45px;
    font-style: italic;
}

.info_produit > *{
    margin: 15px;
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: rgba(160,160,160,0.8);
}

.image_P {
    max-height: 100px;
    max-width: 100px;
    
    min-height: 50px;
    min-width: 50px;
    
    padding: 5px;
    
}

