
.tab_new_products{
	display: flex;
	justify-content: center;
	margin: 2%;
	text-align: center;
}

.tab_new_products > div{
	width: 20%;
	display: flex;
	flex-direction: column;
	border: 1px black solid;
	border-bottom-right-radius: 25px;
	border-top-left-radius: 25px; 
	background-color: rgba(255, 255, 255, 0.9);

}

.new_prod_img{
	text-align: center;;
}

.new_prod_img img{
	width: 100%;
}

/*------------------------------------------------*/

.tab_promo_products{
	display: flex;
	justify-content: center;
	margin: 2%;
	text-align: center;
}

.tab_promo_products > div{
	width: 20%;
	display: flex;
	flex-direction: column;
	border: 1px black solid;
	border-bottom-right-radius: 25px;
	border-top-left-radius: 25px; 
	background-color: rgba(255, 255, 255, 0.9);
}

.promo_prod_img{
	text-align: center;
}

.promo_prod_img img{
	width: 100%;
}

h2 {
	margin-left: 5%;
	margin-top: 10px;
}