
.tab_products{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	width: 90%;
	margin: auto;
	text-align: center;
}

.tab_products > div{
	width: 100%;
	display: flex;
	flex-direction: column;
	border: 1px black solid;
	border-bottom-right-radius: 25px;
	border-top-left-radius: 25px; 
	background-color: rgba(250,250,250,0.7);
	max-width: 300px;
	margin: auto;
}

.prod_img{
	text-align: center;
	height: 320px;
	margin: auto;


}

.prod_img img{
	max-height: 300px;
	max-width: 300px;
}

h2 {
	margin-left: 5%;
	margin-top: 10px;
}