
.pageTitle{
	text-align: center;
	margin: 10px;
}


body>div{
	width: 80%;
	margin: auto;

}

.forms{
	background-color: rgba(200,200,200,0.8);
}

.produits{
	margin-bottom: 20px;
}

.ptit_titre{
	margin: 10px;
}

fieldset{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.field_content{
	display: flex;
	margin: 10px;
	flex-direction: column;
	text-align: end;
}

label{
	margin-right: 5px;
	flex-grow: 1;
	text-align: end;
}

.suppress{
	align-self: center;
}

input{
	width: 150px;
}




