fieldset{
	width: 50%;
	margin: auto;
	background-color: rgba(200,200,200,0.8);
	display: flex;
	flex-direction : column;
	align-items: center;
}

.login_field{
	display: flex;
	margin: 10px;
	flex-direction: column;
	text-align: end;
}

fieldset>input{
	margin-left: -5%;	
}
.petit_mot_gentil{
	text-align: center;
	margin: 20px;
}
.Code_Postal{
	margin-right: 18%;
}


label{
	margin-right: 5px;
	flex-grow: 1;
	text-align: end;
}