body{
	background-color: white;
	background-image: url("../res/imgs/background.jpg");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-position-y: 150px; 
}

header{
    position: sticky;
    width: 100%;
    top: 0px;
}

*{
	margin: 0;
	padding: 0;
}

#pres{
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: center;
	background-color: rgb(150,150,150);
}

#pres div{
	text-align: left;
}

#pres img{
	text-align: right;
	height: 100%;
}

/*-------------------------------------------*/

#navbar{
	display: flex;
	width: 100%;
	height: 50px;
	justify-content: center;
	position: sticky;
	background-color: #bfbfbf;
	
}

.navbar_main_item{
	width: 20%;
	height: 50px;
	background-color: rgba(0,0,0,0.1);
	display: flex;
	position: relative;
}

.navbar_main_item > a{
	height: 1em;
	margin: auto;
}

.navbar_main_item .navbar_sub_item{
	display: none;
}

.navbar_main_item:hover .navbar_sub_item{
	display: inherit;
	position: absolute;
	background-color: #CCBBAA;
	height: 50px;
	width: 100%;
	top: 50px;
	display: flex;
}

.navbar_main_item:hover .navbar_sub_item a{
	height: 1em;
	margin: auto;
}

#login{
	background-color: #FAAC58;
}

.big_text{
    font-size: 40px;
}

.imgError{
    width: 500px;
}