*{
	margin: 0;
	padding: 0;
}

header{
	width: 100%;
	height: 100px;
	background-color: #cccccc;
	display: flex;
	justify-content: center;
}

header div{
	text-align: left;
}

header img{
	text-align: right;
	height: 100%;
}